<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
   
    <main class="main-wrap">
      
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="">
                                <p id="error" class="text-center"></p>

                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input required name="categories" type="text" placeholder="Type here" class="form-control" id="cate"  />
                                    <p class='d-flex justify-content-center' style="color: rgb(400, 90, 32);">
                                    </p>
                                </div>
                               
                             
                               
                                <div class="d-grid">
                                    <button type="button" class="btn btn-primary" onclick="add()">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                               
                                <table class="table table-hover">
                                    
                                    <thead>
                                        
                                        <tr>
                                            
                                            
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th></th>
                                            
                                            <th >Action</th>
                                        </tr>
                                        
                                    </thead>
                                    <%category?.forEach((element)=> { %>
                                    <tbody>

                                       
                            
                                            <td><%= element.category %></td>
                                            <td><b>Interiors</b></td>
                                            
                                           
                                                <!-- <td class="text-center"></td> <%= element.category %> </td> -->
                                                <!-- <td class="text-center"></td>><%= element.description %></td> -->
                                              
                                                <td class="text-end">
                                                   
                                                            
                                                  <a href="/admin/category/edit_categories/<%=element?._id %>"
                                                    class="btn btn-sm font-sm rounded btn-brand">
                                                    <i class="material-icons md-edit"></i> Edit
                                                </a>  
                                                <a href="/admin/category/delete_category/<%=element?._id %>"
                                                    class="btn btn-sm font-sm btn-danger rounded" >
                                                    <i class="material-icons md-delete_forever "></i> Delete
                                                </a>
                                               
                                                </td>
                                            
                                            
                                           
                                        </tr>
                                    </tbody>
                                    <% }); %>
                                </table>
                              
                            </div>
                         
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <!-- <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script> -->
    <!-- Main Script -->
    <!-- <script src="assets/js/main.js" type="text/javascript"></script> -->

    <!--TURN THIS ON I JUST TESTED ALL SCRIPTS FROM JQUERY TO MAIN SCRIPT--> 
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>

<script>
    function add(){
        console.log("12")
        let cate=document.getElementById('cate')
        

        cateval = cate.value.trim();
        

        let error1 = cate.parentElement.querySelector('p');
       
  
        
        error1.innerText = "";
        
  
  
        const arr = [cate];

        arr.forEach((e) => {
            e.addEventListener("keyup", () => {
                e.parentElement.querySelector('p').innerText = ""
            })
        })
  
        let flag=1;
        if (cateval == "") {
            error1.innerText = "Category field is required"
            flag = 2;
        }
        if(flag==1){
            submit(cateval)
        }

        function submit(cate){
            fetch('/admin/category/add-categories/',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    category: cate.toLowerCase(),
                    
                })
            }).then((res)=>res.json())
            .then((res)=>{
                if (res.value == "error") {
                        var error = document.getElementById('error')
                        error.style.color = 'rgb(500,0,0)'
                        error.innerText = 'Category already exist'
                    }
                    else {
                        var error = document.getElementById('error')
                        error.innerText = 'Category added Succesfully'
                        error.style.color = "rgb(53,200,0)"
                        setTimeout(() => {
                            window.location.href = "/admin/category"
                        }, 1000)

                    }
            }
            
            
            )
        }


  }
</script>

