<!-- Modal -->
<%if(!orders.paymentStatus=="canceled"){%>

<div
  class="modal fade custom-modal"
  id="onloadModal"
  tabindex="-1"
  aria-labelledby="onloadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <div
          class="deal"
          style="
            background-image: url('assets/imgs/cart/order-placed-sucess.png');
          "
        >
          <div class="deal-bottom">
            <a
              href="shop-grid-right.html"
              data-bs-dismiss="modal"
              class="btn hover-up"
              >View Order <i class="fi-rs-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%}%>

<% orders?.forEach((element,index )=> { %>
<%console.log("inside order-success ejs file")%>
<section class="container mb-5">
  <div class="row">
    <div class="col-md-9 col-12">
      <div class="border rounded h-100 p-3 p-md-4">
        <!-- Selection for account page -->

        <section class="account_dash">
          <!-- <div style="position: absolute ; top: 20px; right:30px; cursor: pointer;">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div> -->

          <div class="mt-2 p-0">
            <div class="row">
              <div class="col-12 col-md-2 mb-md-0 mb-4">
                <img class="img-fluid" alt="" />
              </div>
              <div class="col-10">
                <h6 class="mb-0 d-md-flex d-block justify-content-between">
                  <div>
                    <small> </small>
                  </div>
                </h6>
                <p><!--a doubht in order id should be _id in order collection or _id in product details-->
                  Order ID : <%=element?.orders._id%>   
                </p>

                  <%if(element?.orders.paymentStatus=="canceled"){%>
                  <p style="text-transform: capitalize;color: red;" class="d-flex align-items-center">
                    
                      
                    Order Status : <%=element?.orders.paymentStatus%>
                      

                        
                       
                    <!-- <div class="spinner-grow spinner-grow-sm text-secondary"></div> -->

                    <!-- <div class="spinner-grow spinner-grow-sm text-danger"></div> -->
                  </p>
                  <%}else{%>
                  <p style="text-transform: capitalize;color: greenyellow;" class="d-flex align-items-center">
                  Order Status : <%=element?.orders.orderStatus%>
                  </p>
                  <%}%>
                  <span
                    class="order_status_info"
                    style="text-transform: capitalize"
                    >Payment Method : <%=element?.orders.paymentMethod%></span
                  >
                  <br />
                  <span style="text-transform: capitalize"> </span>
                </p>
              </div>
            </div>
            <div class="mt-3">
              <!-- <button
                class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center"
              >
                <i class="fa-solid fa-circle-info"></i>
                <span class="mx-2"> View Product</span>
              </button>
              <button class="btn btn-dark rounded w-100 d-md-none py-3">
                <i class="fa-solid fa-circle-info"></i>
                View Product
              </button> -->
                <!--mobile-->
              <a
                class="btn btn-dark rounded w-100 d-md-none py-3 mt-2"
                onclick="cancelOrder('h','t')"
                >Cancel Order</a
              >

              
              <%if(element.orders.paymentStatus=="canceled"){%>
            <!--desktop-->
           
            <%}else {%>
              <div style="text-align: right;">
                
                  <button
                    class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center"
                    href="/view-order-details/<%=element?.orders._id%>"
                    onclick="viewProduct('<%=element?.orders.productDetails._id %>','<%=element?.orders._id%>')"
                    
                  >
                    View Product
                  </button>
               
                <button
                  class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center"
                  onclick="cancelOrder( '<%=element?.orders.productDetails._id %>','<%=element?.orders._id%>' )"
                >
                  Cancel Order
                </button>

           
              </div>
              <%}%>
              
              <!-- <button class="btn btn-dark rounded w-100 d-md-none py-3 mt-2">
                Return order
              </button>
              <button
                class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center"
              >
                Return order
              </button> -->
<!-- 
              <button
                class="btn btn-dark rounded d-none d-md-inline m-0 align-items-center"
              >
                <i class="fa-solid fa-download"></i>
                <span class="mx-2">Download invoice</span>
              </button> -->
              <button class="btn btn-dark rounded w-100 d-md-none mt-2 py-3">
                <i class="fa-solid fa-download"></i>
                <span>Download invoice</span>
              </button>
            </div>
          </div>
          <hr />

       

          <script>
            // orders scripts here
          </script>
          <script src="/js/user/dashboard.js"></script>
        </section>
        <!-- account page selection end -->
      </div>
    </div>
  </div>
</section>
<% }); %>
<div class="h-100 w-100 text-center">
  <h5>Your orders will be here once you orderd</h5>
</div>
          
<!-- edit button -->
<div class="row w-100">
  <div class="col-12 d-flex justify-content-center mt-3">
    <p>
      <span class="text-info">NOTE : </span>A reload is required to
      reflect changes all across the page
    </p>
  </div>
</div>
<script>
  
  function cancelOrder(proId,ordId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3cc75c',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Cancel The Order!'
    }).then((result) => {
      if (result.isConfirmed) {
    console.log( proId,ordId);
    $.ajax({
      url: "/cancel-order",
      data: {
        proId:proId,
        orderId: ordId,
      },
      method: "post",
      success: (response) => {
        console.log("HELLOOO");
        if(response){
          location.reload()
        }
        
      },
    });
    Swal.fire('Canceled')
  }
})
  }
   
  function viewProduct(proId,orderid){
      console.log(orderid,"working view product");
   $.ajax({    
     url:'/view-order-details/'+orderid,  
     method:'get',
     success:(response)=>{
      window.location.href = "/order-details/"+orderid;
     }
   })
    }


</script>
