<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Shop
              <span></span> Checkout
          </div>
      </div>
  </div>
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 mb-sm-15 py-2"
                  style="border:1px solid #e2e9e1; background-color:#f7f8f9; border-radius: 10px;">
                


                      <!-- <div class="custome-radio">
                          <input class="form-check-input"  required=""
                              type="radio" role="button" name="addressRadio" data-toggle="collapse" href="#collapse-3"
                              aria-expanded="true" aria-controls="collapse-3" id="addressRadio" checked=""
                              value="">
                          <label class="form-check-label" for= data-bs-toggle="collapse"
                              data-target="#bankTranfer" aria-controls="bankTranfer">
                             
                          </label>
                      </div>

                     
                          <div class="row">
                              <span class="text-info addAddress" onclick="clearAll()">Add new address</span>
                          </div> -->
                          <div class="panel-collapse collapse login_form" id="loginform">
                              <div class="panel-body">
                                  <p class="mb-30 font-sm">If you have shopped with us before, please enter your
                                      details
                                      below. If you are a new customer, please proceed to the Billing &amp; Shipping
                                      section.
                                  </p>
                                  <form method="">
                                      <div class="form-group">
                                          <input type="text" name="email" placeholder="Username Or Email">
                                      </div>
                                      <div class="form-group">
                                          <input type="password" name="password" placeholder="Password">
                                      </div>
                                      <div class="login_footer form-group">
                                          <div class="chek-form">
                                              <div class="custome-checkbox">
                                                  <input class="form-check-input" type="checkbox" name="checkbox"
                                                      id="remember" value="">
                                                  <label class="form-check-label" for="remember"><span>Remember
                                                          me</span></label>
                                              </div>
                                          </div>
                                          <a href="#">Forgot password?</a>
                                      </div>
                                      <div class="form-group">
                                          <button class="btn btn-md" name="login">Log in</button>
                                      </div>
                                  </form>
                              </div>
                          </div>


              </div>
              <div class="col-lg-6">
                  <div class="toggle_info">
                      <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a
                              href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click
                              here to enter your code</a></span>
                  </div>
                  <div class="panel-collapse collapse coupon_form " id="coupon">
                      <div class="panel-body">
                          <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                          <p class="mx-auto" id="errorCoupon"></p>
                              <div class="form-group">
                                  <input type="text" placeholder="Enter Coupon Code..." id="couponId">
                              </div>
                              <div class="form-group">
                                  <button class="btn  btn-md" type="button" onclick="validateCoupon()" name="login">Apply
                                      Coupon</button>
                              </div>
                  
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="divider mt-50 mb-50"></div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="mb-25">
                      <h4>Billing Details</h4>
                  </div>
                  <form action="/order" method="post" id="checkout-form">
                      <div class="form-group">
                          <input type="text" required="" name="fname" id="fName" placeholder="First name *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      <div class="form-group">
                          <input type="text" required="" name="lname" id="lName" placeholder="Last name *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div> 
                      <!--SELECT A COUNTRY-->
                      <!-- <div class="form-group">
                          <div class="custom_select">

                              <select class="form-control select-active" id="country">
                                  <option value="">Select an option...</option>
                                 
                                      <option>
                                        
                                      </option>
                                      
                              </select>
                              <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                          </div>
                      </div> -->
                      <div class="form-group">
                          <input type="text" name="billing_address" id="address" required="" placeholder="Address *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      <div class="form-group">
                          <input required="" type="text" name="city" id="town" placeholder="City / Town *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      <div class="form-group">
                          <input required="" type="text" name="landmark" id="landmark"
                              placeholder="Appartments, suite, unit etc ... *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      <div class="form-group">
                          <input required="" type="text" name="zipcode" id="postcode" placeholder="Postcode / ZIP *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      <div class="form-group">
                          <input required="" type="text" name="phone" id="mobile" placeholder="Phone *">
                          <!-- <input name="user"  id="user" value=" <%=user._id%> " type="hidden" /> ////hidden user -->
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      <div class="form-group">
                          <input required="" type="text" name="email" id="email" placeholder="Email address *">
                          <p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>
                      </div>
                      

                      <!-- <button type="submit" class="btn btn-fill-out btn-block mt-30">Place Order</button> -->
                        
                 
                        </div>
                            <div class="col-md-6">
                     <div class="order_review">
                      <div class="mb-20">
                          <h4>Your Orders</h4>
                      </div>
                      <div class="table-responsive order_table text-center">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th colspan="2">Product</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>

                              <tbody>
                                 
                                      <!-- <tr>
                                          <td class="image product-thumbnail"><img
                                                  src="/productImages/ " alt="#">
                                          </td>
                                          <td>
                                              <h5><a href="shop-product-full.html">
                                                      
                                                  </a></h5> <span class="product-qty"> <%=cartItems[0].quantity%>x <%=cartItems[0].quantity%>
                                              </span>
                                          </td>
                                          <td>₹<%=totalPrice%>
                                          </td>
                                      </tr> -->
                                      
                                          <tr>
                                              <th>SubTotal</th>
                                              <td class="product-subtotal" colspan="2">₹<%=totalPrice%>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th>Coupon Discount</th>
                                              <td id="discPrice" colspan="2">₹ 0
                                              </td>
                                          </tr>
                                          <tr>
                                              <th>Shipping</th>
                                              <td colspan="2"><em>Free Shipping</em></td>
                                          </tr>
                                          <tr>
                                              <th>Total</th>
                                              <td colspan="2" class="product-subtotal"><span
                                                      class="font-xl text-brand fw-900" id="totalCartPrice">₹<%=totalPrice%> </span></td>
                                          </tr>
                              </tbody>

                          </table>
                      </div>
                      <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                      <div class="payment_method">
                          <div class="mb-25">
                              <h5>Payment Method</h5>
                          </div>
                          <div class="payment_option">
                              <div class="custome-radio" id="paymentMethod" >
                                  <input class="form-check-input" required="" type="radio" id="cod" value="COD"
                                      name="paymentMethod" checked="" />
                                  <label class="form-check-label" name="paymentMethod" for="cod"
                                      aria-controls="bankTranfer">Cash on Delivery</label>
                              </div>
                              <div class="custome-radio">
                                  <input class="form-check-input" required="" type="radio"  id="razorpay" value="razorpay"
                                   name="paymentMethod" value="razorpay" checked="" />
                                  <label class="form-check-label" name="paymentMethod" for="razorpay"
                                      aria-controls="checkPayment">Razorpay</label>
                              </div>

                              
                              <!-- <div class="custome-radio">
                                  <input class="form-check-input" required="" name="paymentMethod" type="radio"
                                      id="paypal" value="paypal" checked="" />
                                  <label class="form-check-label" for="paypal" name="paymentMethod"
                                      aria-controls="paypal">Paypal</label>
                                  <div id="paypal1"></div>
                              </div> -->
                              
                              

                          </div>
                      </div>
                      <a  onclick="validation(this)"   class="btn btn-fill-out btn-block mt-30">Place Order</a>
                      <%=console.log("12121212qqqqqqqqqqqqqqqqqqqqqqqqqqqqqq",this)%>
                  </div>
              </div>
          </div>
        </form>
      </div>
  </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!--Razor Pay-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!--Razor Pay-->

<script>
    

      

function validation(e) {
    
  
    //getting id of every data
      const fName = document.getElementById('fName')
      const lName = document.getElementById('lName')
      const street = document.getElementById('address')
      const apartment = document.getElementById('landmark')
      const town = document.getElementById('town')
      const postcode = document.getElementById('postcode')
      const mobile = document.getElementById('mobile')
      const email = document.getElementById('email')
      const cod=document.getElementById('cod')
        const payment_method=document.getElementById('paymentMethod')
      
      
      const fNameValue = fName.value.trim()
        const lNameValue = lName.value.trim()
        const streeValue = street.value.trim()
        const apartmentValue = apartment.value.trim()
        const townValue = town.value.trim()
        const postcodeValue = postcode.value.trim()
        const mobileValue = mobile.value.trim()
        const emailValue = email.value.trim()
        const paymentMethod = e.parentElement.querySelector('input[name="paymentMethod"]:checked').value
       
        const error1= fName.parentElement.querySelector('p');
        const error2= lName.parentElement.querySelector('p')
        const error3= street.parentElement.querySelector('p')
        const error4= apartment.parentElement.querySelector('p')
        const error5= town.parentElement.querySelector('p')
        const error6= postcode.parentElement.querySelector('p')
        const error7= mobile.parentElement.querySelector('p')
        const error8= email.parentElement.querySelector('p')
      
        let arr = [fName, lName, street, apartment, town,  postcode, mobile, email]
        arr.forEach((element) => {
            console.log(element)
            element.addEventListener("keyup", () => {
                element.parentElement.querySelector('p').innerText = ""
            })
        })

        let flag=1;

        error1.innerText = ""
        error2.innerText = ""
        error3.innerText = ""
        error4.innerText = ""
        error5.innerText = ""
        error6.innerText = ""
        error7.innerText = ""
        error8.innerText = ""
       
        //First Name
        if (fNameValue == "") {
            error1.innerText = 'This field is required'
            flag = 2
        }
        else if(fNameValue.length<=2){
            error1.innerText='First name should contain minimum of 2 characters'
        }
        else if (!fNameValue.match(/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/)) {
            error1.innerText = "Enter valid details"
            flag = 2
        } 

          //Last Name
          if (lNameValue == "") {
            error2.innerText = 'This field is required'
        } else if (lNameValue.length < 1) {
            error2.innerText = "Last name must be minimum 1 characters"
            flag = 2
        } else if (!lNameValue.match(/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/)) {
            error2.innerText = "Enter valid details"
            flag = 2
        }
         //Street Value
         if (streeValue == "") {
            error3.innerText = 'This field is required'
            flag = 2
        }
        //Apartment Value
        if (apartmentValue == "") {
            error4.innerText = 'This field is required'
            flag = 2
        }
        //Town Value
        if (townValue == "") {
            error5.innerText = 'This field is required'
            flag = 2
        }
        //Postcode Value
        if (postcodeValue == "") {
            error6.innerText = 'This field is required'
            flag = 2
        } else if (postcodeValue.match(/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/)) {
            error6.innerText = 'Enter valid Pincode '
            flag = 2
        }
        //Phone Number
        if (mobileValue == "") {
            error7.innerText = "This field is required"
            flag = 2
        } else if (!mobileValue.match(/^(\+\d{1,3}[- ]?)?\d{10}$/)) {
            error7.innerText = 'Enter valid phone number'
            flag = 2
        }
        //Email Valued
        if (emailValue == "") {
            error8.innerText = "This field is required"
            flag = 2
        } else if (!emailValue.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
            error8.innerText = "Enter a valid email"
            flag = 2
        }

        if(flag==1)
{    submit(fNameValue, lNameValue, streeValue, apartmentValue, townValue,  postcodeValue, mobileValue, emailValue,paymentMethod)
}          
  }




      //ADD COUNTRY BEFORE POSTCODE AND AFTER TOWN 
  function submit(fName, lName, address, landmark, town, postcode, mobile, email,pmValue) {
    console.log(fName,lName)
    $.ajax({
          url: '/order',
          method: 'post',
          data: {
              fName: fName,
              lName: lName,
              address: address,
              landmark: landmark,
              town: town,
              postcode: postcode,
              mobile: mobile,
              email: email,
              paymentMethod:pmValue
              
              
          },
          success: (response) => {
            Swal.fire({
    position: 'center',
    icon: 'success',
    title: 'Order Successfull,Redirecting',
    showConfirmButton: false,
    timer: 1500
    })
            if(response.statusCod){
                window.location.href = '/order-success'
            }
            else{
                console.log("RAZOR PAY RESPONSE WORKING IN EJS PAGE")
                razorpay(response)
            }

            
          }
      })
  }


  function razorpay(data){
    console.log("ty",data)
   var options={
    key:"rzp_test_HzJZCWFkUXcuQj",
    amount:data.amount,
    currency:"INR",
    name:"Game Store",
    
    description:"Test Transaction",
    order_id:data._id,
    handler:function (response){
        verifyPayment(response,data)
    },
    modal:{
        ondismiss:function(){
            console.log("checkout form closed")
        }
    },
    prefill: {
                name: data.userName,
                email: data.email,
                contact: data.mobile
            },
            notes: {
                "address": "DM Corporate Office"
            },
            theme: {
                color: "#3399cc"
            }
    }
    var rzp1 = new Razorpay(options);
        rzp1.open();
    console.log(data)
  }
  function verifyPayment(payment,order){
    console.log("8888")
    $.ajax({
        url:'/verify_payment',
        method:'post',
        data:{
            payment,order
        },
        error:(error)=>{
            Swal.fire({icon:'error',
            title: 'Oops...',
            text: error.responseJSON.message,
        })
        },
        success:(response)=>{
            console.log("9999999999999",response)
            if(response.status){
                let timerInterval
                Swal.fire({
                    icon: 'success',
                        title: 'Order Success!',
                        html: 'You will be redirected to orders in  <b></b> milliseconds.',
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                }).then((result)=>{
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                            console.log('I was closed by the timer')
                        } 
                }).then(function () {
                    window.location.href = '/order-success'
                    });
            }else {
                    Swal.fire({
                        title: 'Payment failed',
                        icon: 'question',
                        iconHtml: 'X',
                    })
                }
        }
    })
  }

  function validateCoupon(){
    const name = document.getElementById('couponId').value;
    console.log(name)
    $.ajax({
        url:'/apply_coupon/',
        method:'post',
        data:{
            couponId:name
        },
   

    })
  }

</script>